.outerContainer {
    display: flex;
    justify-content: center;
}

.innerContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 11;
}

.head {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    z-index: 12;
}

.shadow {
    width: 6px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.623);
    filter: blur(4px);
    margin-top: -4px;
    z-index: 10;
}

.body {
    background-color: grey;
    height: 10px;
    width: 2px;
}
