body {
    margin: 0;
}

.page {
    min-height: 100vh;
    padding: 10px;

    background-color: #a96f49;
    background-image: url(./bulletin-board-texture.jpg);
    background-repeat: repeat;
    background-size: cover;

    border: 3px solid #27451d;
    box-shadow:
        inset 0 0 0 10px #38632a,
        inset 0 0 0 13px #1a0e00,
        inset 16 16 20 -6px rgba(0, 0, 0, 0.623),
        inset -16 -16 20 -6px rgba(0, 0, 0, 0.623);
}

.title {
    display: flex;
    justify-content: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.button {
    background-color: white;
    border: 2px solid white;
    border-style: outset;
    font-size: 21px;
}
