.page {
  min-height: 100vh;

  /* cork board image*/
  background-image: url(./bulletin-board-texture.jpg);
  background-color: brown;
  background-repeat: repeat;
  background-size: cover;

}
.filledBorder {
  /* Inner border */
  border: 4px solid white;
  border-style: double;
  /* Fills the element's background and the space between the lines */
  background-color: black;
  /* Outer border (zero horizontal/vertical offset, zero blur, 8px spread) */
  box-shadow: 0 0 0 8px darkolivegreen;
  padding: 1em; /* Add padding for content spacing */
}

.title{
  display: flex;
  justify-content: center;
}

.note{
  background-color: white;

  width: 50vw; /* The width determines the size */
  aspect-ratio: 1 / 1;
  padding: 1vw 4vw 4vw 4vw;
  box-shadow: 0 8px 20px -6px rgba(0, 0, 0, 0.623);
}

.pin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.pinHead {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.pinShadow {
  width: 6px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.623);
  filter: blur(4px);
  margin-top: -4px;
}

.pinBody {
  background-color: black;
  height: 10px;
  width: 2px;
}

.text {
  color: black;
  padding: 0;
  margin: 0;
}

.senderText {
  color: black;
  padding: 0;
  margin: 0;
  background-color: gre;
}