.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px;
}

.button {
    height: 40px;
    background-color: white;
    border: 2px solid #edecea;
    border-style: outset;
    font-size: 21px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.button:active {
    background-color: #f0f0f0;
    border-style: inset;
}
